<% include ../partials/header %>

<div class="block">
    <section class="hero is-success">
            <div class="hero-body">
                <div class="container">
                <h1 class="title">Login</h1>
                </div>
            </div>
    </section>
</div>

<div class="block">
    <div class="container lrf">
        <form action="/login", method="POST">
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" type="text" placeholder="e.g Alex Smith" name="username">
                </div>
            </div>
                
            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input class="input" type="password" name="password" placeholder="********">
                </div>
            </div>
            <input type="submit" class="button">
        </form>
    </div>
</div>


<% include ../partials/footer %>