<% include ../partials/header %>


    <section class="hero is-dark">
        <div class="hero-body">
            <div class="container">
            <h1 class="title">
                Explore all the beutiful campgrounds!
            </h1>
            <h2 class="subtitle">
                <a href="/campgrounds/new">Click to add a campground</a>
            </h2>
            </div>
        </div>
    </section>

    <div class="container is-fluid">
        <div class="columns need-margin is-multilne">
                <% campgrounds.forEach(function(campground){ %>
                    <div class="column is-one-quarter">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image">
                                    <a href="/campgrounds/<%= campground._id %>">
                                        <img src="<%= campground.image %>" alt="Campground not found">
                                    </a>
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4"><%= campground.name %></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
    </div>

<% include ../partials/footer %>
