<% include ../partials/header %>


<h1>This is campgrounds page!</h1>

<div>
    <a href="/camgrounds/new">Click to add a campground</a>
</div>

<% campgrounds.forEach(function(campground){ %>
    <div>
        <h4><%= campground.name %></h4>
        <a href="/campgrounds/<%= campground._id %>">
            <img src="<%= campground.image %>">
        </a>
    </div>
<% }); %>

<% include ../partials/footer %>
