<% include ../partials/header %>
<a href="/campgrounds">Go back</a>
<form action="/campgrounds" method="POST">
    <label>Enter name of campground:</label>
    <input type="text" placeholder="Name" name="name">
    <br>
    <label>Enter image link:</label>
    <input type="text" placeholder="Link" name="link">
    <br>
    <label>Enter Description:</label>
    <textarea name="description" cols="30" rows="10">Enter Description: </textarea>
    <br>
    <button type="submit" class="button">Submit</button>
</form>

<% include ../partials/footer %>